<div class="card">
    <div class="card-body">
        <div class="app-brand justify-content-center">
            <h2 style="margin: 0px">Seja muito bem vindo!</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Nome</mat-label>
                    <input matInput [formControl]="registerForm.controls.nome" autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.controls.nome.touched && registerForm.controls.nome.hasError('required')">
                        {{REGISTER_CONSTS.NOME_OBRIGATORIO}}
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.controls.nome.touched && registerForm.controls.nome.hasError('minlength')">
                        {{REGISTER_CONSTS.NOME_MIN_LENGHT}}
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.controls.nome.touched && registerForm.controls.nome.hasError('invalidName')">
                        {{REGISTER_CONSTS.NOME_COMPOSTO}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="registerForm.controls.email" autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('required')">
                        {{REGISTER_CONSTS.EMAIL_OBRIGATORIO}}
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('email')">
                        {{REGISTER_CONSTS.EMAIL_INVALIDO}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" [formControl]='registerForm.controls.senha' autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.controls.senha?.touched && registerForm.controls.senha?.hasError('required')">
                        {{REGISTER_CONSTS.SENHA_OBRIGATORIA}}
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.controls.senha?.touched && registerForm.controls.senha?.hasError('minlength')">
                        {{REGISTER_CONSTS.SENHA_MIN_LENGHT}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Confirmar senha</mat-label>
                    <input matInput type="password" [formControl]='registerForm.controls.confirmarSenha'
                        autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.controls.confirmarSenha.touched && registerForm.controls.confirmarSenha.hasError('required')">
                        {{REGISTER_CONSTS.CONFIRMAR_SENHA_OBRIGATORIO}}
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.controls.confirmarSenha.touched && registerForm.controls.confirmarSenha.hasError('mismatch')">
                        {{REGISTER_CONSTS.SENHAS_NAO_CONFEREM}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>