<div class="card">
    <div class="card-body">
        <div class="app-brand justify-content-center">
            <h2 style="margin: 0px">Seja muito bem vindo!</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.get('nome')?.touched && registerForm.get('nome')?.hasError('required')">
                        O nome é obrigatório.
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.get('nome')?.touched && registerForm.get('nome')?.hasError('minlength')">
                        O nome deve ter pelo menos 10 caracteres.
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.get('nome')?.touched && registerForm.get('nome')?.hasError('invalidName')">
                        O nome deve ser composto.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
                        O email é obrigatório.
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')">
                        Digite um email válido.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.get('senha')?.touched && registerForm.get('senha')?.hasError('required')">
                        A senha é obrigatória.
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.get('senha')?.touched && registerForm.get('senha')?.hasError('minlength')">
                        A senha deve ter pelo menos 6 caracteres.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Confirmar senha</mat-label>
                    <input matInput type="password" formControlName="confirmarSenha" autocomplete="off" />
                    <mat-error
                        *ngIf="registerForm.get('confirmarSenha')?.touched && registerForm.get('confirmarSenha')?.hasError('mismatch')">
                        As senhas não coincidem.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>