<div class="card">
  <div class="card-body">
    <!-- Logo -->
    <div class="app-brand justify-content-center">
      <h2>Control Services</h2>
    </div>
    <!-- /Logo -->
    <h4 class="mb-2">Bem-vindo ao Control Services! 👋</h4>
    <p class="mb-4">Por favor, informe suas credenciais para começar a aventura!</p>

    <form class="form" [formGroup]="formLogin" *ngIf="formLogin">
      <div class="mb-4">
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input #inputLogin matInput placeholder="Login" [formControl]="formLogin.controls.email">
          <mat-error *ngIf="formLogin.controls.email.touched && formLogin.controls.email.hasError('required')">
            {{LOGIN_CONSTS.EMAIL_OBRIGATORIO}}
          </mat-error>
          <mat-error *ngIf="formLogin.controls.email.touched && formLogin.controls.email.hasError('email')">
            {{LOGIN_CONSTS.EMAIL_INVALIDO}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mb-4">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput [formControl]="formLogin.controls.senha" autocomplete="off">
          <mat-error *ngIf="formLogin.controls.senha.touched && formLogin.controls.senha.hasError('required')">
            {{LOGIN_CONSTS.SENHA_OBRIGATORIA}}
          </mat-error>
          <mat-error *ngIf="formLogin.controls.senha.touched && formLogin.controls.senha.hasError('minlength')">
            {{LOGIN_CONSTS.SENHA_MIN_LENGHT}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mb-3">
        <button style="width: 100%; height: 56px;" class mat-raised-button color="primary" [disabled]="!formLogin.valid"
          (click)="onSubmit()">Sign in</button>
      </div>
    </form>

    <p class="text-center">
      <span>Novo na plataforma? </span>
      <a routerLink="/auth/register">
        <span>Crie sua conta.</span>
      </a>
    </p>
  </div>
</div>