@defer {
<div class="card mb-4">
    <div class="card-body row">
        <div class="col-md-6 col-xs-12 mb-4">
            <label class="card-title">Melhores Serviços</label>
            <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
                [options]="doughnutChartOptions" [legend]="false" [type]="'doughnut'">
            </canvas>
        </div>
        <div class="col-md-6 col-xs-12 col-legenda">
            <table>
                <td class="center">
                    <div style="display: flex; align-items: center;" class="mb-2" *ngFor="let item of valores; let i = index" (click)="legendaClick(i, item.key)">
                        <div class="label_color" [ngStyle]="{ 'background-color': item.color}"></div>
                        <div style="padding-left: 18px;">
                            <label [ngClass]="item.hidden ? 'oculto' : ''" class="legenda" >{{item.key}}</label>
                        </div>
                    </div>
                </td>
            </table>
        </div>
    </div>
</div>
} @placeholder (minimum 1000ms) {
    <ngx-skeleton-loader [theme]="{ height: '366px'}" />
}