
.card-body.totalizadores {
  strong {
      font-size: 30px !important;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  align-items: center ;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  text-align: center !important;
} 