<div class="item">
    <div class="row">
        <app-card [themeConfig]="{ height: '120px'}" class="col-md-3 mb-4 col-xs-12" [totalizadores]="true">
            <label>LUCRO: {{date | date: 'MM/YY'}}</label>
            <strong>{{ totalizador.lucro | currency:'BRL' }}</strong>
        </app-card>

        <app-card [themeConfig]="{ height: '120px'}" class="col-md-3 mb-4 col-xs-12" [totalizadores]="true">
            <label>P/ RECEBER: {{date | date: 'MM/YY'}}</label>
            <strong>{{ totalizador.receber | currency:'BRL' }}</strong>
        </app-card>

        <app-card [themeConfig]="{ height: '120px'}" class="col-md-3 mb-4 col-xs-12" [totalizadores]="true">
            <label>CONCLUÍDOS: {{date | date: 'MM/YY'}}</label>
            <strong>{{ totalizador.concluidos }}</strong>
        </app-card>

        <app-card [themeConfig]="{ height: '120px'}" class="col-md-3 mb-4 col-xs-12" [totalizadores]="true">
            <label>AGENDADOS: {{date | date: 'MM/YY'}}</label>
            <strong>{{ totalizador.agendados }}</strong>
        </app-card>
    </div>

    <div class="row">
        <div class="col-lg-12 col-12 mb-4 col-xs-12">
            <app-calendario></app-calendario>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 ">
            <app-grafico-servicos-mes></app-grafico-servicos-mes>
        </div>
    </div>
</div>