@media only screen and (max-width: 848px) {
    ::ng-deep full-calendar>div.fc-toolbar {
        display: block !important;
    }

    ::ng-deep full-calendar>div.fc-toolbar>div.fc-left,
    ::ng-deep full-calendar>div.fc-toolbar>div.fc-center,
    ::ng-deep full-calendar>div.fc-toolbar>div.fc-right {
        float: none !important;
        display: inline-block !important;
    }

    ::ng-deep full-calendar>div.fc-toolbar>div.fc-center>button {
        padding: 5px 5px !important
    }

    ::ng-deep full-calendar>div.fc-toolbar>*> :not(:first-child) {
        margin-left: 2px;
    }

    ::ng-deep full-calendar>div.fc-toolbar.fc-header-toolbar>div.fc-center>button:nth-child(2) {
        margin-right: 5px;
    }

    ::ng-deep full-calendar>div.fc-toolbar.fc-header-toolbar>div.fc-center>h2 {
        margin-right: 5px !important;
    }
}

::ng-deep .custom-popover {
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #dee2e6;
}

::ng-deep .custom-popove.arrow::before {
    border-bottom-color: #f8f9fa;
}

::ng-deep .custom-popover {
    max-width: none;
    width: auto !important;
    white-space: nowrap;
}

.line {
   margin-top: 0;
}