/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field:not(.mat-mdc-paginator-page-size-select) {
    width: 100% !important;
    height: 100%;;
}

.snack-background-red{
    div.mdc-snackbar__surface  {
        width: 40vw !important;
        background-color: rgb(178, 25, 25, 1) !important;
        color: white !important ;
    }
    div  {
        color: white !important;
    }
    span {
        color: white !important;
    }
}
.snack-background-green{
    width: 40vw !important;
    div.mdc-snackbar__surface  {
        background: rgb(29, 102, 29) !important;
        color: white !important;
    }
    div {
        color: white !important;
    }
    span {
        color: white !important;
    }
}