<h4 class="fw-bold py-3 mb-4">
    <span class="fw-bold fw-light"><a routerLink="/home" >Dashboard</a> / </span>Servicos
</h4>

<div class="card mb-12">
    <div class="card-header">
        <h2>Consultar Servicos</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="card-body">
        <form class="form row" [formGroup]="formConsulta" (ngSubmit)="onSubmit()">
            <div class="col-md-5 col-sm-12 col-xs-12 form-item">
                <mat-form-field appearance="outline" class="mat-form-custom">
                    <mat-label>Nome</mat-label>
                    <input matInput [formControl]="formConsulta.controls.nome" autocomplete="off" />
                </mat-form-field>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 form-item">
                <mat-form-field appearance="outline" class="mat-form-custom">
                    <mat-label>Descricao</mat-label>
                    <input matInput [formControl]="formConsulta.controls.descricao" autocomplete="off" />
                </mat-form-field>
            </div>
            <mat-divider class="mb-4"></mat-divider>
            <div class="mb-3">
                <div class="mb-3 botoes">
                    <button mat-raised-button color="primary">
                        Buscar
                        <mat-icon>search</mat-icon>
                    </button>
                    <button routerLink="/servicos/create" mat-raised-button color="accent">
                        Novo
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <div>
            <div class="mb-3 table-div table-responsive mat-elevation-z1">
                <table class="table table-round-corner">
                    <thead class="table">
                        <tr>
                            <th colspan="4">
                                Nome
                            </th>
                            <th colspan="7">
                                Descricao
                            </th>
                            <th colspan="1">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td colspan="4">
                                {{item.nome}}
                            </td>
                            <td colspan="7">
                                {{item.descricao}}
                            </td>
                            <td colspan="1">
                                <a class="btn btn-default" routerLink='/servicos/edit/{{item.id}}' >
                                    <span class="tf-icons bx bx-edit"></span>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="!items || items.length == 0 ">
                            <td [colSpan]="12" style="text-align: center;">
                                Sem resultados para a consulta
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="items" class="pb-2">
                <mat-paginator [length]="paginationResult.totalElements" [pageSize]="paginationResult.pageSize"
                    [pageIndex]="paginationResult.pageNumber - 1" [pageSizeOptions]="[2, 10, 25, 100]"
                    aria-label="Select page" (page)="getServicos($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>